<section class="text-center" id="tracksPrevios">
	<div class="container">
		<div class="col-xs-12">
			<div class="row">
				<a onclick="
				$('.cancion').removeClass('blueI');" class="btn btn-primary btn-lg btn-filter">Todas</a>
				<a onclick="
				$('.cancion').removeClass('blueI');
				$('.cancion').addClass('blueI');
				$('.Pop').removeClass('blueI');" class="btn btn-primary btn-lg btn-filter">Pop</a>
				<a onclick="
					$('.cancion').removeClass('blueI');
				$('.cancion').addClass('blueI');
				$('.Classic').removeClass('blueI');" class="btn btn-primary btn-lg btn-filter">Classic</a>
				<a onclick="
					$('.cancion').removeClass('blueI');
				$('.cancion').addClass('blueI');
				$('.Rock').removeClass('blueI');" class="btn btn-primary btn-lg btn-filter">Rock</a>	
			</div>
		</div>

		<div class="col-xs-12">
			<div class="row equal-height-panels ">
				<%for (var t in tracks) {%>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 cancion <%=tracks[t].estilo%>">
					<a href='/tracks/<%=tracks[t]._id%>'>
						<div class="panel panel-default">
							<div class="item-image">
								<img src="<%=tracks[t].urlCover%>" class="img-responsive ">
							</div>
							<div class="panel-body">
								<div class="item-content">
									<div class="item-text">

										<% if(tracks[t]._uploadBy != null){%>
										<div class="row">
											<div class="col-xs-1 ">
												<a href="/user/<%=tracks[t]._uploadBy%>"><img class="imgUser img-rounded" src="/images/user.png"></a>
											</div>
											<div class="col-xs-11 text-left">
												<p><a href="/user/<%=tracks[t]._uploadBy%>"><%=tracks[t]._uploadByName%></a></p>
											</div>

										</div>
										<%}%>
										<p class='lead'><%=tracks[t].name%></p>


										<p>


						       <!-- <p>20 Followers, 2 Posts</p>
						        <p>
						          <img src="//placehold.it/28X28/ededed">          
						          <img src="//placehold.it/28X28/a0c3fd">          
						          <img src="//placehold.it/28X28/25282d"> -->         
						      </p>
						  </div>
						</div>
					</div>
				</div>
			</a>
		</div>

		<%}%>
	</div>
</div>
</div>
</section>